In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('Sample - Superstore.xlsx')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Shipped On Time
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Shipped On Time
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Shipped On Time
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Shipped Early
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Shipped On Time

In [78]:
df1 = df.groupby('City', as_index=False)
df1['Profit'].agg(sum).sort_values('Profit', ascending=False).set_index(np.arange(1, len(df1) + 1)).head(10)

             City      Profit
1   New York City  62036.9837
2     Los Angeles  30440.7579
3         Seattle  29156.0967
4   San Francisco  17507.3854
5         Detroit  13181.7908
6       Lafayette  10018.3876
7         Jackson   7581.6828
8         Atlanta   6993.6629
9     Minneapolis   6824.5846
10      San Diego   6377.1960

In [35]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Shipped On Time
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Shipped On Time
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Shipped On Time
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Shipped Early
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Shipped On Time

In [36]:
#df2 from df that stores results of # of customers who got discount by each category and segment 
# number of customers = count
# category & segment = groupby

In [41]:
df_discount = df[df['Discount'] != 0]
df_discount.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Shipped Early
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Shipped On Time
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Consumer,United States,Los Angeles,California,...,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152,Shipped On Time
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Consumer,United States,Los Angeles,California,...,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825,Shipped On Time
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Consumer,United States,Los Angeles,California,...,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092,Shipped Late

In [79]:
df_group = df_discount.groupby(['Category', 'Segment'])['Customer ID'].nunique()

In [80]:
df_group

Category         Segment
Furniture        Consumer       304
                 Corporate      185
                 Home Office    104
Office Supplies  Consumer       383
                 Corporate      219
                 Home Office    131
Technology       Consumer       278
                 Corporate      152
                 Home Office     98
Name: Customer ID, dtype: int64

In [81]:
df2 = pd.DataFrame(df_group)
df2

                             Customer ID
Category        Segment
Furniture       Consumer             304
                Corporate            185
                Home Office          104
Office Supplies Consumer             383
                Corporate            219
                Home Office          131
Technology      Consumer             278
                Corporate            152
                Home Office           98

In [67]:
df['Category'].value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [68]:
# Create a dataframe called df3 from df that selects all columns and shows profit Ratio is greater than 30% and Ship Status is Early

In [69]:
df_copy = df.copy()
df_copy.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Shipped On Time
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Shipped On Time
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Shipped On Time
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Shipped Early
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Shipped On Time

In [83]:
df_copy['Profit_Ratio'] = df_copy['Profit'] / df_copy['Sales']
df_copy.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status,Profit_Ratio
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Shipped On Time,0.1600
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Shipped On Time,0.3000
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Shipped On Time,0.4700
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Shipped Early,-0.4000
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Shipped On Time,0.1125

In [102]:
df3 = df_copy[(df_copy['Profit_Ratio'] > 0.3) & (df_copy['Ship Status'] == 'Shipped Early')]
df3.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status,Profit_Ratio
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Consumer,United States,Concord,North Carolina,...,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432,Shipped Early,0.3500
13,14,CA-2016-161389,2016-12-05,2016-12-10,Standard Class,IM-15070,Consumer,United States,Seattle,Washington,...,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976,3,0.2,132.5922,Shipped Early,0.3250
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Consumer,United States,San Francisco,California,...,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.3840,Shipped Early,0.3250
25,26,CA-2016-121755,2016-01-16,2016-01-20,Second Class,EH-13945,Consumer,United States,Los Angeles,California,...,OFF-BI-10001634,Office Supplies,Binders,Wilson Jones Active Use Binders,11.648,2,0.2,4.2224,Shipped Early,0.3625
50,51,CA-2015-115742,2015-04-18,2015-04-22,Standard Class,DP-13000,Consumer,United States,New Albany,Indiana,...,OFF-LA-10002762,Office Supplies,Labels,Avery 485,75.180,6,0.0,35.3346,Shipped Early,0.4700

In [104]:
df.duplicated().sum()

0

In [96]:
#Which three states placed the most orders in year 2017? How many distinct orders did each state place?

In [105]:
import datetime

In [106]:
df4 = df.copy()

In [107]:
df4['year'] = pd.DatetimeIndex(df4['Order Date']).year

In [108]:
df4.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status,year
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Shipped On Time,2016
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Shipped On Time,2016
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Shipped On Time,2016
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Shipped Early,2015
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Shipped On Time,2015

In [109]:
df4 = df4[df4['year'] == 2017]

In [110]:
df4.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Ship Status,year
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Consumer,United States,Concord,North Carolina,...,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432,Shipped Early,2017
23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Consumer,United States,Philadelphia,Pennsylvania,...,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,Shipped Late,2017
34,35,CA-2017-107727,2017-10-19,2017-10-23,Second Class,MA-17560,Home Office,United States,Houston,Texas,...,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468,Shipped Late,2017
41,42,CA-2017-120999,2017-09-10,2017-09-15,Standard Class,LC-16930,Corporate,United States,Naperville,Illinois,...,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564,Shipped Late,2017
43,44,CA-2017-139619,2017-09-19,2017-09-23,Standard Class,ES-14080,Corporate,United States,Melbourne,Florida,...,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616,Shipped On Time,2017

In [140]:
df4_orders = df4.groupby('State')['Order ID'].count().sort_values(ascending=False).head(3)

In [141]:
df4_orders

State
California    663
New York      352
Texas         317
Name: Order ID, dtype: int64

In [154]:
df4.groupby('State')['Order ID'].nunique().sort_values(ascending=False).head(3)

State
California    344
New York      174
Texas         164
Name: Order ID, dtype: int64

In [152]:
df4_orders_df.head()

            Order ID
State
California       663
New York         352
Texas            317

In [150]:
df4_distinct = df4_orders.groupby('State')['Order ID'].count().sort_values(ascending=False).nunique()

KeyError: 'Column not found: Order ID'

In [149]:
df4_distinct

38

In [118]:
# Which customer ID place the most orders in the furniture category in 2017? How many orders did they place?

In [157]:
id_distinct = df4[df4['Category'] == 'Furniture']['Customer ID'].value_counts()

In [158]:
id_distinct

SV-20365    8
AH-10075    6
Dp-13240    6
ML-17410    5
MO-17800    5
           ..
TB-21190    1
LB-16735    1
BN-11515    1
CL-12565    1
HA-14905    1
Name: Customer ID, Length: 403, dtype: int64

In [133]:
# How many orders were placed in Los Angeles in 2017? How many orders contain products that start with the letter “C”?

In [143]:
la_orders = df4[df4['City'] == 'Los Angeles']['Order ID'].count()

In [144]:
la_orders

210

In [145]:
c_products = df4[df4['City'] == 'Los Angeles']['Product Name'].str.startswith('C').sum()

In [146]:
c_products

10